<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern">
    <div class="container">
        <div class="contact-inner">
            <h2 class="title text-center">Contact</h2>
            <p class="intro text-center">Learn to drive with Queens Cross Driving School. <br />Fill in the enquiry form below, or call on: 07970521241</p>
            <div class="clearfix"></div>
            <div class="info text-left">
              <div class="row">
                <div class="col-sm-6 col-sm-push-3">
                  <form class="contact-form" action="//formspree.io/weejack@yahoo.com"
                    method="POST">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" name="_replyto">
                    </div>
                    <div class="form-group">
                      <label for="enquiry">Message</label>
                      <textarea class="form-control" id="enquiry" name="enqury" rows="3"></textarea>
                    </div>
                    <input type="submit" class="btn btn-lg btn-default" value="Send">
                  </form>
                </div>
              </div>
            </div><!--//info-->
        </div><!--//contact-inner-->
    </div><!--//container-->
</section><!--//contact-->
