/* ======= Base ======= */
body {
  font-family: "Lato", arial, sans-serif;
  color: $text-color;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gi-2x {
  font-size: 2em;
}

.gi-3x {
  font-size: 3em;
}

.gi-4x {
  font-size: 4em;
}

.gi-5x {
  font-size: 5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: $color;
}

a {
  color: $color;

  &:hover {
    text-decoration: underline;
    color: darken($color, 10%);
  }
}

.btn {
  font-family: "Montserrat", arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
  .glyphicon {
    position: relative;
    top: 2px;
  }
}

.btn-cta-primary {
  background: darken($color, 30%);
  border: 1px solid darken($color, 30%);
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    background: darken($color, 35%);
    border: 1px solid darken($color, 35%);
    color: #fff;
  }
}

.text-highlight {
  color: darken($color, 30%);
}
